@model IEnumerable<PubsPractice.Models.Title>

@{
    ViewData["Title"] = "首頁";
    int counter = 1;
}

<div class="text-center my-5">
    <h1 class="display-4">歡迎來到我們的書店！</h1>
    <p class="lead">這裡是您尋找下一本好書的最佳去處。</p>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @if (Model != null)
    {
        @foreach (var book in Model.Take(3))
        {
            <div class="col">
                <div class="card h-100">
                    
                    <div class="card-body">
                        <h5 class="card-title">特色書籍 @counter</h5>
                        <p class="card-text">@book.Title1 這本書是我們的本月推薦，千萬別錯過！</p>
                        <a href="#" class="btn btn-primary">查看詳情</a>
                    </div>
                </div>
            </div>
            counter++;
        }
    }
    
  
</div>