@{
    ViewData["Title"] = "首頁";
}

<div class="text-center my-5">
    <h1 class="display-4">歡迎來到我們的書店！</h1>
    <p class="lead">這裡是您尋找下一本好書的最佳去處。</p>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <img src="https://via.placeholder.com/400x250" class="card-img-top" alt="Placeholder Book">
            <div class="card-body">
                <h5 class="card-title">特色書籍 1</h5>
                <p class="card-text">這本書是我們的本月主打，千萬別錯過！</p>
                <a href="#" class="btn btn-primary">查看詳情</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="https://via.placeholder.com/400x250" class="card-img-top" alt="Placeholder Book">
            <div class="card-body">
                <h5 class="card-title">特色書籍 2</h5>
                <p class="card-text">另一本你一定會喜歡的書。</p>
                <a href="#" class="btn btn-primary">查看詳情</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="https://via.placeholder.com/400x250" class="card-img-top" alt="Placeholder Book">
            <div class="card-body">
                <h5 class="card-title">特色書籍 3</h5>
                <p class="card-text">讀者熱烈好評推薦！</p>
                <a href="#" class="btn btn-primary">查看詳情</a>
            </div>
        </div>
    </div>
</div>